@model IEnumerable<VICO_Project.Models.Province>


@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="container" id="containerID">
    <p>
        <a class="btn btn-outline-warning" asp-action="Create">Create New</a>
    </p>
    <table class="table" id="idTableCuti">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departemen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departemen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @*<a asp-action="Update">update</a>*@

                        @Html.ActionLink("Update", "Update", new { id = item.Id })

                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>